/* Default settings */

.omu_contents {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
}

.fake {
  height: 150px;
}

.omu_contents h1 {
  font-size: 45px;
}

.omu_contents h2 {
  font-size: 40px;
  margin-top: 2%;
  margin-bottom: 4%;
}

.omu_contents h3 {
  font-size: 25px;
  display: inline-block;
  border-bottom: dashed 2px #5a5a5a;
  margin-bottom: 10px;
}

.omu_contents p li a {
  font-size: 20px;
}

.omu_contents p {
  margin-top: 2%;
  margin-bottom: 2%;
}

.omu_contents a {
  color: #0000ff;
  border-bottom: 1px solid blue;
}

/* Introduction */

.intr_p {
  font-size: 25px;
}

/* meals recipes */

.meal_sentence {
  margin: 5px 10px 5px 10px;
  font-size: 25px;
}
.meal_recipes {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

/* profile */

.rv_form {
  margin-bottom: 20px;
}
.profile {
  display: flex;
  border-bottom: 2px solid #cfcfcf;
}

.profile p {
  margin: 0px;
  font-size: 25px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.pro_button {
  display: flex;
  justify-content: center;
}

.probtn {
  background-color: #5a5a5a;
  width: 200px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  opacity: 1;
  color: #ffffff;
}

.probtn:hover {
  opacity: 0.5;
}

/* Viewer form */

.viewer {
  margin-top: 40px;
  text-align: center;
}

/* subscribe form */

.form {
  background-color: #cfcfcf;
  padding: 30px;
  margin-bottom: 20px;
}

.form_label {
  font-size: 20px;
  margin-top: 15px;
}

.form_input {
  border: 1.5px solid #5a5a5a;
  width: 300px;
  height: 30px;
  background-color: #ffffff;
}

.form_btn {
  background-color: #5a5a5a;
  color: #ffffff;
  width: 70px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  opacity: 1;
  margin-top: 20px;
  cursor: pointer;
}

.form_btn:hover {
  opacity: 0.5;
}

/* subscribe modal */

.modal {
  display: none;
  position: fixed;
  background-color: #ffffff;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 1.5rem auto 0;
  padding: 10px;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal_p {
  font-size: 25px;
  padding-top: 10%;
  left: 50%;
  margin: 0;
}

.close_btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #daa520;
  color: #ffffff;
  width: 70px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  opacity: 1;
  cursor: pointer;
}

.close_btn:hover {
  opacity: 0.5;
}
