body {
  background-color: beige;
}

/*  footer part  */
.footer_top {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

.footer_top h2 {
  font-size: 25px;
}

.footer_top p {
  font-size: 15px;
}

.footer_brazil {
  width: 20%;
  margin-left: 10%;
}

.footer_turkey {
  width: 20%;
}
.footer_japan {
  width: 20%;
}

.footer_image_part {
  width: 20%;
  margin-right: 10%;
}

.footer_image {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.footer_bottom {
  display: flex;
  justify-content: center;
}
