/* HEADER */

.header {
    position: fixed;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 50px;
    background-color: white;
    z-index:1000;
}
  
 .header__inner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 64px;
}

.header__inner__title {
    font-family: 'Hubballi', cursive;
    font-size: 30px;
}

/* Dropdown Button */
.fa-solid {
    color: gray;
}

.header__inner__menu--btn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .header__inner__menu {
    position: absolute;
    left: 30px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .header__inner__menu--btn--content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .header__inner__menu--btn--content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .header__inner__menu--btn--content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* END HEADER */

body {
    background-color: #f5f5dc;
    font-family: 'Hubballi', cursive;
}

.recipe__content {
  margin: auto 255px;
  padding-bottom: 50px;
}

.recipe__content h1 {
  font-size: 55px;
  padding-top: 80px;
  padding-bottom: 20px;

}

.recipe__content__video {
  text-align:center;
  width:100%;
}

.recipe__content h2 {
  padding-top: 20px;
  font-size: 30px;
}

.recipe__content__ingredients li {
  list-style-type: circle;
  padding: 10px;
  margin-left: 15px;
}

.recipe__content__preparation li {
  list-style-type: decimal;
  padding: 10px;
  margin-left: 15px;
}

.home-content {
  margin: 50px 255px;
}

.home-content h1 {
  font-size: 55px;
  padding-top: 70px;

}

.home-content p {
  font-size: 20px;
  padding-top: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


/*  Carousel part  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

#slider {
  position:relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto 0 auto;
}

#slider ul {
  position: relative;
  margin-top: 100px;
  height: 300px;
  list-style: none;
}

#slider ul li {
  box-shadow: 0 40px 20px 0 rgba(0, 0, 35, 0.25);
  border-radius: 8px;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 700px;
  text-align: center;
}

.slider-bkground1 {
  background: url(https://www.sabornamesa.com.br/media/k2/items/cache/3a93e06a79b58e8e24434c313eb7a045_XL.jpg);
  background-repeat: no-repeat;
  background-size:cover
}

.slider-bkground2 {
  background: url(https://pbs.twimg.com/media/ETQ4W9LWsAEt-2b?format=jpg&name=large);
  background-repeat: no-repeat;
  background-size:cover;
}

.slider-bkground3 {
  background: url(http://ricettebrasiliane.it/wp-content/uploads/2018/08/ricette-brasiliane-brigadeiro-1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.slider-bkground4 {
  background: url(https://www.gisymbol.com/wp-content/uploads/2021/02/StuffedPeppersLambQuinoaLemonIMG.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 50%;
  z-index: 999;
  display: block;
  padding: 2% 1%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600px;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  margin: 10px auto;
  font-size: 18px;
}

/*  footer part  */

footer {
  background-color: #fff;
  height: 170px;
}
.footer_top {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
}

.footer_top h2 {
  font-size: 25px;
}

.footer_top p {
  font-size: 18px;
  padding-top: 5px;
}

.footer_brazil {
  width: 20%;
  margin-left: 10%;
}

.footer_turkey {
  width: 20%;
}
.footer_japan {
  width: 20%;
}

.footer_image_part {
  width: 20%;
  margin-left: 10%;
  display: flex;
  justify-content: flex-end;
}

.footer_image {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.footer_bottom {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.footer_bottom_copy {
  border-right: 3px solid black;
  padding-right: 10px;
}

.footer_bottom_allright {
  margin-left: 10px;
}

/*  Scroll-to-top button  */

.scroll {
  text-align: right;
  display: none;
}

.scrbutton {
  position: fixed;
  right: 5%;
  bottom: 3%;
  background-color: #424213;
  padding: 10px 20px 10px 20px;
  opacity: 0.7;
  border-radius: 20px;
}

.topbtn_p {
  margin-bottom: 0%;
  margin-right: 5%;
  color: #fff;
}

/* FAQ JQuery Accordion */
.accordion-container{
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
}
.accordion-container > h2{
  text-align: center;
  color: black;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  float: right;
  margin-top: 2px;
}
.set > a.active{
  background-color:gray;
  color: #fff;
}
.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

/*  Scroll-to-top button  */
#menu{
  float: right;
  position: relative;
  left: -50%;
  text-align:left;
}
#menu ul{
  position: relative;
  left: 50%;
  list-style:none;
  padding:0;
  margin:0;
}
#menu li {
  float:left;
  position: relative;
  margin: 0 2px 0 0;
  border-bottom: 0;
  width:206px;
  text-align:center;
}
#menu li a {
  text-decoration:none;
  display:block;
  padding: 8px 15px;
  color: #ffffff;
  font: 15px 'Trebuchet MS', Trebuchet, sans-serif;
  border-radius: 10px 10px 0 0;
  background-color: #4D5960;
}
#menu li a:hover {
  background-color: #DBE4EA;
  color: #0b5394;
}
#txt_cont{
  font-size: 20px;
  position:relative;
  width: 836px;
  line-height: 35px;
  border:1px solid #ccc;
  border-top: 0;
  margin-left:-420px;
  left:50%;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: justify;
}
.txt_tab{
  padding:10px 70px 10px 70px;
}
#menu ul li a.hover_tab{
  background-color:#dbe4ea;
  color:#0b5394;
}

.effect-btn {
  border: none;
  color: #fff;
  padding: 10px;
  margin: 0 30% 0 35%;
  font-size: 24px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #fff;
  color: black;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

